.content {
  display: grid;
  justify-content: center;
  align-content: center;

  background-color: rgb(50, 50, 50);
}

.big-figure {
  height: 52rem;
  padding: 0.5rem;
  background-color: rgb(50, 50, 50);
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.big-image {
  height: 100%;
}

.article {
  color: whitesmoke;
}

.paragraph {
  padding-block: 0.2rem;
}
