* {
  margin: 0;
}

.body {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 14% auto;

  height: 100vh;
}

.header {
  grid-column-start: 1;
  grid-column-end: 3;

  display: grid;
  align-content: center;
  justify-content: center;
}
