.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-inline: 1%;
  font-size: 3.5rem;
  flex-wrap: wrap;
  background-color: black;
  color: rgb(125, 125, 125);
}
