.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-inline: 1%;
  border-bottom: 3rem;
  border-color: rgb(50, 50, 50);
  flex-wrap: wrap;
  background-color: black;
  color: whitesmoke;
}
