.nav-item {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin: 0.5rem;
  background-color: black;
}

.nav-item:hover {
  background-color: #505050;
}

/* .nav-item:active {
  background-color: #555555;
  color: whitesmoke;
} */

.nav-item:checked {
  background-color: aqua;
  color: whitesmoke;
}

.small-figure {
  height: 10rem;
  background-color: rgb(50, 50, 50);
  padding: 0.3rem;
}

.small-image {
  height: 100%;
}

.title {
  height: 4rem;
  font-size: 4rem;
  color: brown;
}

.active-item {
  background-color: #202020;
}
