.nav-item {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin: 0.5rem;
  background-color: azure;
}

.nav-item:focus {
  background-color: aqua;
}

.title {
  height: 2rem;
  font-size: xx-large;
}
