.nav-item {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin: 0.5rem;
  background-color: black;
}

.nav-item:focus {
  background-color: aqua;
}

.small-figure {
  height: 10rem;
  background-color: rgb(50, 50, 50);
  padding: 0.3rem;
}

.small-image {
  height: 100%;
}

.title {
  height: 4rem;
  font-size: 4rem;
  color: brown;
}
